extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Daniel Grigo

        h4.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Planning the layout of and product placement in DIY-stores I'm used to think in units and
            | to use a structural approach to problems. Teamplayer by default, but also keen to get the responsbility for my own projects.
            | Fascinated by the myriad possbilities of coding. Loving nerd humor.


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li plain JavaScript
          li jQuery
          li Node.js
          li AJAX
          li HTML
          li CSS
        h6 Contact Info

        ul
          li Email: daniel.grigo@freenet.de

        a.button.expanded(href='https://github.com/Develooper-Dan/' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
