
@font-face {
    font-family: 'startrackregular';
    src: url('../fonts/startrack-axyog-webfont.woff2') format('woff2'),
         url('../fonts/startrack-axyog-webfont.woff') format('woff'),
         url('../fonts/startrack-axyog-webfont.ttf') format('ttf');
}

body{
  background-image: url("../images/home-office.jpg");
  background-attachment: fixed;
}

h1,h2,h3,h4,h6,li{
  font-family: 'Merriweather', serif;
  text-shadow: 2px 1px 2px #000;
  color: #ffff;
}

  h1{
  color: #20211f;
  text-shadow: 2px 1px 2px #fff;
  }

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-family: 'startrackregular', sans-serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 1px 2px #000;

  }

.round{
  border-radius: 5px;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-top: 2rem;
  border: solid 4px #fefefe;
  border-radius: 10%;
  box-shadow: 3px 2px 4px 6px rgb(17, 19, 19);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 16px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
    box-shadow: 4px 2px 4px 6px rgb(17, 19, 19);
  }

  .portfolio-index a{
    color: #ffff;
    text-shadow: 2px 1px 2px #000;
    margin-bottom: 2em;
    margin-left: 2em;

  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
}

.portfolio-bio{
    line-height: 25px;
}
